{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>粉红豹咨讯网</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ bootstrap.load_css() }}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.min.js') }}"></script>
     <style>
  </style>
</head>


<body style="background-color:#FF7DC6">

<!--把button放在右下角，这个是可以随意修改的，你可以改成一个链接一个图片之类的-->
<div id="google_translate_element" style="position:absolute;top:10px;right:10px;z-index:2000;opacity:0.7"></div>
<script>
function googleTranslateElementInit() {

	new google.translate.TranslateElement(
		{
                //这个参数不起作用，看文章底部更新，翻译面板的语言
                //pageLanguage: 'zh-CN',
            //这个是你需要翻译的语言，比如你只需要翻译成越南和英语，这里就只写en,vi
			includedLanguages: 'en,zh-CN,hr,cs,da,nl,fr,de,el,iw,hu,ga,it,ja,ko,pt,ro,ru,sr,es,th,vi',
            //选择语言的样式，这个是面板，还有下拉框的样式，具体的记不到了，找不到api~~
			layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            //自动显示翻译横幅，就是翻译后顶部出现的那个，有点丑，这个属性没有用的话，请看文章底部的其他方法
			autoDisplay: true,
			//还有些其他参数，由于原插件不再维护，找不到详细api了，将就了，实在不行直接上dom操作
		},
		'google_translate_element'//触发按钮的id
	);

}
</script>
<script src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light mb-4"  style="background-color:#40D4FF">
      <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='favicon.ico') }}" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('xiaojiejie.pagination1', '资讯查询', use_li=True) }}
                {{ render_nav_item('xiaojiejie.products', '使用电报', use_li=True) }}
                {{ render_nav_item('xiaojiejie.nodelist', '免费节点', use_li=True) }}
            </ul>

        <!-- 根据是否登录动态加载 -->

        </div>
      </div>
    </nav>
{% endblock %}
<!-- 广告模块 -->
<div class="jumbotron text-center" style="margin-bottom:0;background-color:#FF7DC6">
  <h2 style="color:#5D5D5D">妹子代购 保障正品 助勃延时 无效退款</h2>
   <img src="{{ url_for('static', filename='weige.jpg') }}" width="150" height="150" alt="">
  <p style="color:#5D5D5D"></p>
            <p><a class="btn btn-primary btn-lg" href="https://t.me/sexinfochina" role="button" >
         加入Telegram社群</a>
</div>
<!-- 主页模块 -->
    <main>
    <div class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}

    </div>
    </main>
{% block footer %}
    <footer class="navbar-fixed-bottom text-center">
         <div class="container-fluid py-3" style="background-color:#40D4FF">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <div class="row py-0">
          <div class="col-sm-1 hidden-md-down">
              <a class="bg-circle bg-info" href="#">
                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-11 text-white">
                <div><h4 style="color:#5D5D5D"> 联系我们</h4>
                    <p>   <span class="header-font"  style="color:#FF7DC6">52fenhongbao@gmail.com</span></p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-5">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://t.me/sexinfochina"><i class="fa fa-2x fa-fw fa-telegram text-white"></i>
		</a>
            </div>


          </div>
        </div>
      </div>
    </div>
    </div>


<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278866936'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1278866936%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>

    </footer>
{% endblock %}

</body>

</html>