{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>粉红豹小姐姐查询网</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ bootstrap.load_css() }}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.min.js') }}"></script>
     <style>
  </style>
</head>


<body style="background-color:#FF7DC6">
<div class="jumbotron text-center" style="margin-bottom:0;background-color:#FF7DC6">
  <h1 style="color:#5D5D5D">广告位招租1000元/月</h1>
  <p style="color:#5D5D5D">享受合伙人权益每月分红</p>
            <p><a class="btn btn-primary btn-lg" href="https://t.me/sexinfochina" role="button" >
         加入Telegram社群</a>
</div>
    <nav class="navbar navbar-expand-lg navbar-light mb-4"  style="background-color:#40D4FF">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('xiaojiejie.pagination1', '性息查询', use_li=True) }}
                {{ render_nav_item('xiaojiejie.products', '印度神油', use_li=True) }}
            </ul>
        </div>
    </nav>

    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="navbar-fixed-bottom text-center">
        {% block footer %}

         <div class="container-fluid py-3" style="background-color:#40D4FF">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <div class="row py-0">
          <div class="col-sm-1 hidden-md-down">
              <a class="bg-circle bg-info" href="#">
                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-11 text-white">
                <div><h4 style="color:#5D5D5D"> 联系我们</h4>
                    <p>   <span class="header-font"  style="color:#FF7DC6">fenhongbao@gmail.com</span></p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-5">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://t.me/sexinfochina"><i class="fa fa-2x fa-fw fa-telegram text-white"></i>
		</a>
            </div>
            <div class="bg-circle-outline d-inline-block">
              <a href="https://twitter.com/camonanesi">
                <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://wa.me/85255316990">
                <i class="fa fa-2x fa-fw fa-whatsapp text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
                {% endblock %}
    </footer>

</body>

</html>