{% extends 'base.html' %}

{% block content %}
<!-- 展示产品信息 -->
<div class="container">
  <h2>GHB催情水</h2>
  <img src="{{ url_for('static', filename='GHB.jpg') }}" class="float-left">
<p>用法介绍：
GHB又名G水、神仙水，在欧美国家流行多年，曾一度被滥用，是有名的约会强暴药。GHB在化学成分上属于一种盐，是人体细胞的一种成分。本品为带粘稠度的无色液体，味咸。一瓶25毫升，约4－5次量，每次约4-6毫升左右，口服，25分钟左右起效，主要药效反应可维持3小时，剩余反应会维持2-4小时甚至更久。GHB有兴奋催情的功效，可作为兴奋剂和催情剂使用。（请自行购买注射器，参照注射器上的刻度抽取用量）

GHB的服后反应跟酒精相似。小份量会令人放松、个人防线放开并伴有性冲动、精神赳振及有类似轻微喝醉的兴奋感觉。
中份量会令人头昏眼花、眼睛不能对准焦点、能投入音乐、跳舞及谈话。没有时间观念感，不断产生幻觉并伴有呕吐。
服用过量会令人无意识地不停点头或陷入无意识状态，极度眩晕，没有方向感及呕吐，昏睡。

 注意事项：
1，GHB的用量并不固定，服用时根据体质强弱酌情增减用量，以达到最佳效果，同时应避免过量服用产生不适
2，GHB用量达到9～10毫升即可致人无意识昏睡，但并不赞成把GHB当做昏睡药来用，因为在昏睡中极易因呕吐而导致窒息，万一因过量而昏睡，应让昏睡者保持侧卧姿势，并注意清理呕吐物。
3，GHB服用后的反应跟酒精类似，因此推荐混入酒类中，具有很好的隐蔽性。但是GHB跟酒精结合会严重增强药效，因此，混入酒类中服用应尽量减少用量。

副作用：
过量服用会出现恶心呕吐。药效过后对人体无残留伤害。


特别说明：
催情藥是一個世界難題，國外很多科學家研究多年，到目前為止還沒有發現對人體有強烈催情效果的药品，所谓那些服用了就必须要做爱的药品，只仅存于电视电影中。除了某些毒品以外，ghb是目前唯一具有實際催情效果的產品。
服用催情水后所能达到的效果是受很多方面因素影响的。比如用量是否恰到好处、身处的环境气氛、对方的保守程度、以及她对你是否反感等等。如果对方是一个情窦未开的小妹妹，你要让她喝了就主动献身，那也不现实。就比如我們自己去娛樂場所玩，就會帶上ghb，下在酒裏面，那些陪酒小妹喝了就會比平時更開放，更禁不起挑逗，性欲亢奋，有時候會忍不住直接拉我們去洗手間，都不需要付钱。
</p>
</div>
</div>
{% endblock %}