<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
    <title>小姐姐性息查询</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

<body>
{{ pagination.info }}
{{ pagination.links }}
<table>
  <thead>
    <tr>
      <th>编号</th>
      <th>主题</th>
      <th>城市-区域</th>
        <th>价位</th>
        <th>服务</th>
        <th>外形</th>
        <th>联系方式</th>

    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.district }}</td>
          <td>{{ user.price }}</td>
          <td>{{ user.service }}</td>
          <td>{{ user.appear }}</td>
        <td><a href="{{ url_for('getXjjContact',id = user.id) }}">查看联系方式</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}

</body>
</html>